#sectionContain {
  border-radius: 2.5rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: clamp(250px, 100vw, 1650px);
  margin: 0 auto;
}
#secFatherOfDivs {
  margin: 0 auto;

}
#divDetailPokemon, 
#divComparePokemon, 
#divSuggestionRandomPokemon{
  border-radius: 2.5rem;
}
#divSuggestionRandomPokemon{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  overflow: scroll;
  border-radius: 2.5rem;
   margin: 2% 0;
}
