@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
@import url(styleCardPokemon.css);
@import url(styleComparePokemon.css);
@import url(styleIpnSearchPokemon.css);
@import url(styleAsideBodyMenuScroll.css);
@import url(styleSumAboutPokemon.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  overflow: visible;
}
*::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
}
:root {
  --black: #262323;
  --black_Sum_Of_Course: #454444;
  
  --white: #d7d7d7;
  --white_Sum_Of_Course: #f9f9f9;

  --colorTypeFire:     #EE8130;
  --colorTypeWater:    #6390F0;
  --colorTypeGram:     #7AC74C;
  --colorTypeFlying:   #A98FF3;
  --colorTypeFighter:  #C22E28;
  --colorTypePoison:   #A33EA1;
  --colorTypeElectric: #F7D02C;
  --colorTypeEarth:    #E2BF65;
  --colorTypePsychic:  #B6A136;
  --colorTypeIce:      #96D9D6;
  --colorTypeInsect:   #A6B91A;
  --colorTypeGhost:    #735797;
  --colorTypeSteel:    #B7B7CE;
  --colorTypeDragon:   #6F35FC;
  --colorTypeDingy:    #705746;
  --colorTypeFairy:    #D685AD;
}
html, body{
    height: 100dvh;
    width: 100%;
}
body{
  background: var(--black);
  font-family: "Pixelify Sans", sans-serif;
  transition: .5s;
}
#headerSearch, #secGlobalElements, #footerMenu{
    width: clamp(250px, 100vw, 1650px);
    background: var(--black);
    border: none;
    transition: .5s;
    z-index: 0;
}

#headerSearch {
  border-radius: 0 0 2.5rem 2.5rem;
  margin: 0 auto 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12dvh;
}
#secGlobalElements {
  border-radius: 2.5rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
}
#divContainScrollInfinit {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  flex-wrap: wrap;
  overflow: scroll;
  border-radius: 2.5rem;
}
#footerMenu{
  height: 12dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  bottom: 0;
  border-radius: 2.5rem 2.5rem 0 0;
  border: solid 2px var(--white);
  margin: 0 auto;
  box-shadow: -0px -0px 10px 0px var(--white_Sum_Of_Course);
}
body.dark{
  background: var(--white_Sum_Of_Course);
  transition: .5s;
}
#headerSearch.dark, #secGlobalElements.dark, #footerMenu.dark{
  background: var(--white);
  transition: .5s;
}
.ipnSearchPokemon.dark{
  transition: .5s;
  border: none;
  background: url('../../image/iconMenu/magnifying_Theme_Glass_Of_Course.png') no-repeat var(--black);
  box-shadow: -0px -0px 10px 0px var(--white),
  5px 5px 10px 0px var(--black);
  color: var(--white);
}
.ipnSearchPokemon.dark::placeholder{
    color: var(--white);
}
.cardPokemon.dark{
  background: var(--black);
}
.sideBarAbout{
  position: fixed;
  height: 100%;
  border: solid var(--black);
  background: var(--white);
  z-index: 1;
}
/*width: clamp(300px, 50vw, 16%);*/
